<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    {% block head_extra %}{% endblock %}
</head>
<body>
    <div class="button-group">
        {% if g.logged_in %}
        <span>Welcome, {{ g.username }}</span>
        <a href="/logout/" class="button">Logout</a>
        <a href="/cart/" class="button">Cart</a>
            <a href="/orders/" class="button">Orders</a>
            <a href="/fun-fact/" class="button">Fun Fact</a>
        {% else %}
        <a href="/signup/" class="button">Sign Up</a>
        <a href="/login/" class="button">Login</a>
        {% endif %}
        {% if request.endpoint != 'index' %}
        <a href="{{ url_for('index') }}" class="button">Back to Home</a>
        {% endif %}
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</body>
</html>
