{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='cart.css') }}">
{% endblock %}

{% block content %}
<h1>Your Cart</h1>
{% if cart_items %}
    {% for item in cart_items %}
    <div class="cart-item">
        <h2>{{ item.Name }}</h2>
        <p>Price: ${{ item.Price }}</p>
        <form action="{{ url_for('update_quantity', product_id=item.ProductID) }}" method="post">
            <input type="number" name="quantity" value="{{ item.Quantity }}" min="1">
            <button type="submit">Update</button>
        </form>
        <form action="{{ url_for('remove_from_cart', product_id=item.ProductID) }}" method="post">
            <button type="submit">Remove</button>
        </form>
    </div>
    {% endfor %}
        <form action="{{ url_for('place_order') }}" method="post">
        <button type="submit" class="button">Place Order</button>
    </form>
{% else %}
    <p>Your cart is empty.</p>
{% endif %}
{% endblock %}
