<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
<div class="container">
    <a href="{{ url_for('index') }}" class="button">Back to Home</a>
    <a href="{{ url_for('signup') }}" class="button">Sign up</a>
        <h1>Log In</h1>
        {% if error %}
        <h3 style="color: red">Incorrect email or password</h3>
        {% endif %}
        <form action="/login" method="post">
          <input name="email" type="email" placeholder="email" required>
          <input name="password" type="password" placeholder="password" required>
            <button type="submit">Log In</button>
        </form>
</div>
</body>
</html>