<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/addSignup" method="post">
        <h1>Inscription</h1>
          <input name="username" type="text" placeholder="username">
          <input name="name" type="text" placeholder="name">
          <input name="email" type="email" placeholder="email">
          <input name="password" type="password" placeholder="password">
          <input name="address" type="text" placeholder="Address">
          <input type="submit" class="btn" value="SignUp">
    </form>
</body>
</html>