<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="../static/signup.css">
</head>
<body>
<div class="container">
        <h1>Sign Up</h1>
        <form action="/addSignup" method="post">
              <input name="username" type="text" placeholder="username">
              <input name="name" type="text" placeholder="name">
              <input name="email" type="email" placeholder="email">
              <input name="password" type="password" placeholder="password">
              <input name="address" type="text" placeholder="Address">
              <input type="submit" class="btn" value="SignUp">
        </form>
</div>
</body>
</html>